<div class="card-content">
    <div class="card-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/20160806-DSCF1573-BalTone.jpg" alt="image">
        <span>
            <h4>{{posicion}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul class="mb-5">
            <li *ngFor="let servicio of destino.servicios">
                <span [ngSwitch]="servicio">
            <li *ngSwitchCase="'Desayuno'" style="color: brown;">{{servicio}}</li>
            <li *ngSwitchCase="'Almuerzo'" style="color: blue;">{{servicio}}</li>
            <li *ngSwitchDefault>{{servicio}}</li>
            </span>
            </li>
        </ul>
        <div>
            <a href="#"><i class="materal-icons md-18">thumb_up</i></a>
            <a href="#"><i class="materal-icons md-18">thumb_down</i></a>
            <span>{{destino.votes}}</span>
        </div>
        <hr class="mb-5">
        <a href="#" class="btn-card" (click)="ir()">Read</a>

        <a href="/destinos" class="ms-2">Ver destino</a>

        <span *ngIf="destino.isSelected()" class="badge bg-primary ms-2 style-prefers">
            <span ngNonBindable>Preferido</span>
        </span>
    </div>
</div>